/*SCHRIFTART*/

@font-face {
  font-family: 'BarmeniaGothaerWeb';
  src: url("../../../../../universal/VAADIN/themes/custom/fonts/BarmeniaGothaerWeb-Regular.woff") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarmeniaGothaerWeb';
  src: url("../../../../../universal/VAADIN/themes/custom/fonts/BarmeniaGothaerWeb-RegularItalic.woff") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BarmeniaGothaerWeb';
  src: url("../../../../../universal/VAADIN/themes/custom/fonts/BarmeniaGothaerWeb-Bold.woff") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BarmeniaGothaerWeb';
  src: url("../../../../../universal/VAADIN/themes/custom/fonts/BarmeniaGothaerWeb-BoldItalic.woff") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BarmeniaGothaerWeb';
  src: url("../../../../../universal/VAADIN/themes/custom/fonts/BarmeniaGothaerWeb-Medium.woff") format('truetype');
  font-weight: 550;
  font-style: normal;
}

@font-face {
  font-family: 'BarmeniaGothaerWeb';
  src: url("../../../../../universal/VAADIN/themes/custom/fonts/BarmeniaGothaerWeb-MediumItalic.woff") format('truetype');
  font-weight: 550;
  font-style: italic;
}


/*LOGINSEITE*/

/*Loginseite Hintergrundfarbe*/
.uwp-login {
  background: #002641 !important;
}

/*Loginseite Hintergrund Logo*/
.uwp-login-logo-container {
  background-image: none !important; /*Consor-Muster entfernen*/
  background-color: #002641;
}

/*Loginseite Login-Button*/
.button.button__primary.login-button.login-form-field {
  background-color: #002641;
}

/*HEADER*/

/* Startseite: Ersetzen des Images in der Menuleiste*/
#header {
  background-image: none !important; /*Consor-Muster entfernen*/
  background-color: #002641;
}

/* In einem GeVo: Ersetzen des Images in der Menuleiste*/
#fastentry-header {
  background-image: none !important; /*Consor-Muster entfernen*/
  background-color: #002641;
}

/*Grösse Logo anpassen für korrektes Verhältnis*/
#companyLogo {
  width: 194px !important;
}

/*BUTTONS*/

.button.button__primary {
  background-color: #AAA0F0 !important; /*Hintergrundfarbe*/
  color: #002641 !important; /*Textfarbe in Button*/
}

.button.button__primary:hover {
  background-color: #CCCCFF !important;
}

.button.button__primary:active {
  background-color: #BABAFF !important;
}


/*INFO UND WARNMELDUNGEN*/

.sfc-WARNING {
  -webkit-text-fill-color: transparent !important; /*Farbe vom Labeltext "WARNUNG"*/
  width: 0px; /*damit Box ausgeblendet wird und Warnmeldetext linksbündig*/
  background-color: white !important; /*Hintergrundfarbe der Warnmeldung*/
}

.column.form--column.sfc-WARNING {
  border-bottom-color: transparent  !important; /*Farbe Underline der Warnmeldung anpassen*/
}

/*Für Text, der ausgegeben wird in Warnmeldung*/
.sfc-WARNING.S_WARNING textarea {
  -webkit-text-fill-color: #FF5F43 !important;
  font-weight: bold !important;
  padding-left: 0px;
  padding-top: 15px;
}


.sfc-INFO {
  -webkit-text-fill-color: transparent !important; /*Farbe vom Labeltext "INFO"*/
  width: 0px; /*damit Box ausgeblendet wird und Infotext linksbündig*/
  background-color: white !important; /*Hintergrundfarbe der Infomeldung*/
}

.form--column.sfc-INFO {
  border-bottom-color: transparent  !important; /*Farbe Underline der Infomeldung anpassen*/
}

/*Für Text, der ausgegeben wird in Infomeldung*/
.sfc-INFO.S_INFOMELDUNG textarea {
  -webkit-text-fill-color: #0088CC !important;
  font-weight: bold !important;
  padding-left: 0px;
  padding-top: 15px;
}


/*Minimale Breite auf 0 gesetzt, damit Info und Warnmeldungen linksbündig möglich*/
.form .form--row .form--column {
  min-width: 0px !important;
}

/*Anpassung Spaltenbreite Warnmeldung, damit gesamte Länge genutzt wird bis zum Umbruch*/
.column.form--column.column__grow.column__text_area.sfc-WARNING {
  min-width: 850px !important;
}

/*Anpassung Spaltenbreite Infomeldung, damit gesamte Länge genutzt wird bis zum Umbruch*/
.column.form--column.column__grow.column__text_area.sfc-INFO {
  min-width: 850px !important;
}

/*Textfarbe Validierungsmeldung*/
div[slot="error-message"] {
  color: #FF5F43 !important;
}

/*DIVERSES*/

/*Erster Radio-Button ausblenden*/
vaadin-radio-group vaadin-radio-button:first-of-type {
  display: none;
}

/*Schriftfarbe der gespertten Inputfelder anpassen (input)*/
.hide-parent input[disabled] {
  -webkit-text-fill-color: #002641;
}

/*Schriftfarbe der gespertten Inputfelder anpassen (label)*/
.hide-parent label[disabled] {
  -webkit-text-fill-color: #002641;
}

/*Memo-Felder Grösse anpassen, damit gesamt Breite genutzt wird*/
.form .form--row .form--column.column__grow.column__text_area {
  min-width: 488px !important;
}

/*BEARBEITUNGSBEREICH DOKUMENT*/

/*Hintergrundfarbe Bearbeitungsbereich 1*/
.column.column__grow {
  background: white;
}

/*Hintergrundfarbe Bearbeitungsbereich 2*/
.splitpanel-second-container-work{
  background: white;
}

/*Hintergrundfarbe Bearbeitungsbereich 3*/
.content-box:not(.content-box__light) {
  background-color: white !important;
}

/*Gepunkteter Rahmen am Ende eines Abschnitts entfernen*/
.row.top_container {
  border-bottom: none;
}

/*Balkenfarbe am Ende der Seite*/
#fastentry-view-button-bar {
  background-color: #F0F0FF;
}

/*gesamter Bearbeitungsbereich ausrichten*/
#PanelDynamic {
  padding-left: 0px;
}

/*gesamter Bearbeitungsbereich ausrichten -> Box oben*/
.level_0>.row {
  margin-top: 15px !important;
}

/*Ausrichtung von Dokumenttitel 1*/
.title.title__big {
  padding-left: 24px;
}

/*Schriftgrösse von Dokumenttitel 2*/
.title.title__medium {
  font-size: 20px !important;
}

/*Anpassungen an linke Menüleiste: Menüeinträge*/
.fastentry-treegrid vaadin-grid-cell-content{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Top linke Menüleiste weiss formatiert*/
#fastentry-treegrid-container-buttoncontainer {
  background-color: white;
}

/*Anpassungen an linke Menüleiste: Margin entfernen und so gesamte Breite des Menüeintrages mit Farbe füllen*/
#TreeDocFastEntryApplication {
  margin-left: 0px;
}

/*Rahmenline oben von Inputfelder entfernen*/
.form .form--row.first_form_row .form--column {
  border-top: 0px !important;
}

/*Textfarbe von Bausteinselektion, wenn UWR erlaubt*/
.hide-parent .container_with_checkbox label{
  color: rgba(50, 58, 63, 1);
}

/*Margin von auswählbaren Bausteinen in Tabellen*/
.form.table_container.border_false {
  margin-bottom: 0px;
  margin-top: 0px
}

/*Textfarbe von auswählbaren Bausteinen in Tabellen*/
.form.table_container.border_false label {
  color: rgba(50, 58, 63, 1)
}

/*Passt Hintergrundfarbe von Bausteintextfeldern an*/
.html-textarea {
  background: #E1E6EB !important;
}

/*Einrückung von selektierbaren Bausteinen*/
.container_with_checkbox {
  left: 0px !important;
}

/*Symbolfarbe bei änderbaren Bausteintexte (wenn noch kein Inhalt)*/
.edit-icon-empty {
  stroke: #00718f !important;
}

/*KONTEXTMENÜ FÜR DRUCKVORSCHAU*/

/*Hintergrundfarbe Druckvorschau Auswahlbereich*/
.dialog-content-box .form.form__no-margin-bottom.namedcopyplugin-content {
  background-color: #f5f5f5 !important;
}

/*Hintergrundfarbe Druckvorschau Auswahlbereich innen*/
.dialog-content-box .column.form--column.column__grow {
  background-color: #f5f5f5 !important;
}

/*ANLAGEN & SUCHLAYOUT SIDE-MENU*/

/*Hintergrundfarbe Anlagen*/
#collabViewLayout {
  background: #ffffff !important;
}

/*Schriftfarbe anpassen Anlagen*/
.title-no-padding {
  color: #338da5;
}

/*Hintergrundfarbe Button Anlagen*/
#collabViewButton {
  background-color: white !important;
}

/*Hintegrundfarbe Suchlayout Rahmen*/
#searchViewLayout {
  background-color: #ffffff !important;
}

/*Hintegrundfarbe Suchlayout Inhalt*/
#searchViewLayoutContent {
  background-color: #ffffff !important;
}

/*Hintergrundfarbe Button Suchlayout*/
#searchViewButton {
  background-color: #ffffff !important;
}

/*NEUER GEVO MENÜ*/

/*Hintergund bei "Neuer GeVo" weiss formatieren*/
#MainContractDataView {
  background-color: white !important;
}

/*Titel linksbündig machen*/
#LabelTitleMainContractDataView {
  padding-left: 0px !important;
}

/*Margin anpassen zwischen Titel und Label bei "Neuer GeVo"*/
#contactDescrInputRow {
  margin-top: 20px !important;
}

/*Schriftart Menüleiste*/
.header-menubar-button {
  font-family: "BarmeniaGothaerWeb" !important;
  font-weight: bold
}

/*GEVO SUCHE*/

/*GeVo Suche Feld "Geschäftsvorfall-Typ" Grösse anpassen*/
#FieldGevoTypeDescr {
  width: 316px !important;
}

/*GENERELL BODY*/

body {
  --lumo-font-family: "BarmeniaGothaerWeb" !important;
  font-weight: normal;
  --lumo-primary-color-10pct: #f5f6f6 !important; /*Header Highlight Color*/
  --lumo-primary-color-20pct: #003C66 !important; /*Headerfarbe bei Hover*/
  --lumo-body-text-color: #002641 !important;
  --lumo-header-text-color: #002641 !important; /*Schriftfarbe bei GeVo-Übersicht*/
  --lumo-primary-text-color: rgba(255, 255, 255, 1);
  --lumo-secondary-text-color: #002641  !important; /*Passt Textfarbe der Überschriften an*/
  --lumo-disabled-text-color: rgba(165, 169, 171, 1);
  --lumo-primary-contrast-color: #002641 !important; /*Auswahl Radiobuttons innere Farbe*/
  --lumo-contrast: #E1F3FF !important ; /*Passt Hintergrundfarbe der Inputfelder an*/
  --lumo-contrast-30pct: rgba(255, 255, 255, 1);
  --lumo-contrast-20pct: rgba(255, 255, 255, 1);
  --vaadin-app-layout-navbar-offset-size: 80px;
  --lumo-button-size: 32px;
  --lumo-text-field-size: 32px;
  --lumo-shade: rgba(50, 58, 63, 1);
  --lumo-shade-5pct: #E1E6EB !important; /*Passt Hover-Hintergrundfarbe des Fastentry Treegrid an*/
  --lumo-shade-10pct: #E1E6EB !important; /*Passt Hintergrundfarbe für gesperrte Standardfelder an*/
  --lumo-shade-20pct: rgba(207, 210, 211, 1);
  --lumo-shade-30pct: rgba(165, 169, 171, 1);
  --lumo-shade-40pct: rgba(126, 132, 135, 1);
  --lumo-shade-50pct: rgba(87, 94, 98, 1);
  --lumo-shade-60pct: rgba(50, 58, 63, 1);
  --lumo-shade-70pct: rgba(50, 58, 63, 1);
  --lumo-shade-80pct: rgba(50, 58, 63, 1);
  --lumo-shade-90pct: rgba(50, 58, 63, 1);
  --lumo-shade-hover: rgba(186, 186, 186, .1);
  --lumo-font-size-xs: 10px;
  --lumo-font-size-s: 12px;
  --lumo-font-size-m: 13px;
  --lumo-line-height-xs: 15px;
  --lumo-line-height-s: 16px;
  --lumo-line-height-m: 20px;
  --lumo-font-weight-s: 400;
  --lumo-font-weight-l: 700;
  --lumo-success-color: rgba(210, 239, 230, 1);
  --lumo-success-contrast-color: rgba(29, 176, 131, 1);
  --lumo-error-color: rgba(247, 215, 220, 1);
  --lumo-error-color-10pct: #FFD8D1 !important; /*Ändert die Hintergrundfarbe von Validierungsfelder*/
  --lumo-error-contrast-color: rgba(215, 57, 81, 1);
  --lumo-warning-color: rgba(255, 231, 204, 1);
  --lumo-warning-contrast-color: rgba(255, 133, 0, 1);
  --iron-icon-width: 16px;
  --iron-icon-height: 16px;
  --menu-bar-width: 159px;
  --lumo-size-m: 32px;
  --lumo-space-xs: 6px;
  --menu-bar-height: var(--vaadin-app-layout-navbar-offset-size);
  --lumo-icon-size-m: 16px;
  --vaadin-combo-box-overlay-max-height: 176px;
  --lumo-space-m: 16px;
  --toggle-button-width: 36px;
  --clear-button-width: 36px;
  --vaadin-infinite-scroller-buffer-width: 276px;
  --required-icon-color: var(--lumo-primary-color);
  --fastentry-treegrid-checkbox-border-color: var(--lumo-shade-30pct);
  --fastentry-treegrid-checkbox-background-color: var(--lumo-contrast);
  --fastentry-treegrid-checkbox-color: var(--lumo-primary-color);
  --radiobutton-background-color: var(--lumo-contrast);
  --radiobutton-border-color: var(--lumo-shade-30pct);
  --loading-indicator-color: #9ADCFF;
  --lumo-primary-color: #002641 !important; /*Ändert die Hintergrundfarbe der Menübuttons links + Icons Menüleiste + Schriftfarbe "Zurück & Weiter"*/
  --tooltip-text-color: #002641 !important; /*Ändert die Textfarbe im Tooltip*/
  --tooltip-background-color: #AFB9C3 !important; /*Ändert die Hintergrundfarbe im Tooltip*/
  --header-menubar--text-color: #ffffff !important; /*Ändert die Textfarbe im Header*/
  --required-icon-color: #002641 !important; /*Required-Icon (Asterisk) Farbe wechseln*/
  --required-selected-icon-color: #ffffff !important; /*Required-Icon (Asterisk) Farbe, wenn Eintrag in Menüleiste links aktiv*/
  --fastentry-treegrid--active-label-color: #ffffff !important; /*Ändert die Textfarbe, wenn Eintrag in Menüleiste links aktiv*/
  --fastentry-treegrid--active-background-color: #002641 !important; /*Ändert die Hintergrundfarbe der Menübuttons links*/
}
